<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <title>กองบริหารทรัพยากรบุคคล สป.ยธ.</title>

</head>

<body>

    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        async function main() {
            await liff.init({ liffId: "1655968940-Mad5v2Oo" })
            if (liff.isLoggedIn()) {
              // Login แล้วจ้า
            } else {
              liff.login()
            }
            await liff.shareTargetPicker([
                {
                    type: "flex",
                    altText: "ข้อความจากกองบริหารทรัพยากรบุคคล",
                    contents:
                    {
  "type": "bubble",
  "hero": {
    "type": "image",
    "url": "https://i.imgur.com/VIHRr7A.jpg",
    "size": "full",
    "aspectRatio": "1080:1440",
    "aspectMode": "cover"
  },
  "body": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "text",
            "text": "กองบริหารทรัพยากรบุคคล",
            "size": "md",
            "weight": "bold"
          }
        ],
        "offsetTop": "-5px"
      },
      {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "box",
            "layout": "baseline",
            "contents": [
              {
                "type": "icon",
                "url": "https://i.imgur.com/GJ7RZcP.png",
                "offsetTop": "xs"
              },
              {
                "type": "text",
                "text": "0 2141 5173",
                "margin": "md",
                "size": "sm",
                "color": "#595959"
              },
              {
                "type": "text",
                "text": "กดโทร",
                "size": "md",
                "decoration": "underline",
                "action": {
                  "type": "uri",
                  "uri": "tel:021415173"
                },
                "color": "#022161",
                "align": "end"
              }
            ]
          },
          {
            "type": "box",
            "layout": "baseline",
            "contents": [
              {
                "type": "icon",
                "url": "https://i.imgur.com/GJ7RZcP.png",
                "offsetTop": "xs"
              },
              {
                "type": "text",
                "text": "0 2141 5174",
                "margin": "md",
                "size": "sm",
                "color": "#595959"
              },
              {
                "type": "text",
                "text": "กดโทร",
                "size": "md",
                "decoration": "underline",
                "action": {
                  "type": "uri",
                  "uri": "tel:021415174"
                },
                "color": "#022161",
                "align": "end"
              }
            ]
          }
        ],
        "margin": "xl",
        "spacing": "md",
        "offsetTop": "-10px"
      },
      {
        "type": "text",
        "text": "ผู้ที่ไม่สามารถรับสมุดตรวจในวันดังกล่าว \nสามารถมารับได้ที่กลุ่มงานสวัสดิการฯ ชั้น 9",
        "color": "#737373",
        "size": "sm",
        "wrap": true,
        "align": "center",
        "offsetTop": "5px"
      }
    ],
    "backgroundColor": "#ffffff"
  },
  "footer": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "button",
        "style": "primary",
        "margin": "md",
        "action": {
          "type": "uri",
          "label": "แชร์ให้เพื่อน",
          "uri": "https://liff.line.me/1655968940-Mad5v2Oo"
        },
        "height": "sm",
        "color": "#022161"
      }
    ],
    "backgroundColor": "#ffffff",
    "offsetTop": "-5px"
  },
  "styles": {
    "body": {
      "backgroundColor": "#ffffff"
    },
    "footer": {
      "backgroundColor": "#ffffff"
    }
  }
}
                }
            ])
            liff.closeWindow()
        }
        main()
    </script>
</body>

</html>