<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <title>กองบริหารทรัพยากรบุคคล สป.ยธ.</title>

</head>

<body>

    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        async function main() {
            await liff.init({ liffId: "1655968940-82XEzlR6" })
            await liff.shareTargetPicker([
                {
                    type: "flex",
                    altText: "ข้อความจากกองบริหารทรัพยากรบุคคล",
                    contents:
                    {
  "type": "bubble",
  "hero": {
    "type": "image",
    "url": "https://i.imgur.com/07hnDF2.jpg",
    "size": "full",
    "aspectRatio": "1440:1018",
    "aspectMode": "cover",
    "action": {
      "type": "uri",
      "uri": "https://www.facebook.com/hrmmoj"
    }
  },
  "body": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "text",
        "text": "กองบริหารทรัพยากรบุคคล",
        "size": "lg",
        "weight": "bold",
        "offsetTop": "-5px",
        "align": "center"
      },
      {
        "type": "text",
        "text": "สำนักงานปลัดกระทรวงยุติธรรม",
        "wrap": true,
        "color": "#737373",
        "size": "sm",
        "align": "center"
      },
      {
        "type": "separator",
        "margin": "xl"
      },
      {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "text",
            "text": "ร่วมใจสวมใส่ผ้าไทยในงาน",
            "color": "#ff66c4",
            "size": "md",
            "align": "center",
            "weight": "bold"
          },
          {
            "type": "text",
            "text": "\"ผ้าไทย สายใยยุติธรรม\"",
            "color": "#918EF4",
            "size": "md",
            "align": "center",
            "weight": "bold"
          },
          {
            "type": "text",
            "text": "ระหว่างวันที่ 1 - 5 สิงหาคม 2565",
            "color": "#033d98",
            "size": "md",
            "align": "center",
            "weight": "bold"
          }
        ],
        "margin": "xl",
        "spacing": "sm"
      }
    ]
  },
  "footer": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "button",
        "style": "primary",
        "margin": "md",
        "action": {
          "type": "uri",
          "label": "แชร์ให้เพื่อน",
          "uri": "https://liff.line.me/1655968940-82XEzlR6"
        },
        "height": "sm"
      }
    ],
    "offsetTop": "-5px"
  }
}
                }
            ])
            liff.closeWindow()
        }
        main()
    </script>
</body>

</html>